/* Reset básico */
body,
form,
label,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #181818;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e4e4;
}

form {
    background-color: #282828;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 500px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 40px;
    text-align: center;
    color: #e4e4e4;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #383838;
    color: #e4e4e4;
    transition: background-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    background-color: #484848;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}